@model IEnumerable<CryptographyExample.Models.CreditCardModels.CreditCardViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncryptedCreditCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignedCreditCard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayTextFor(model => item.CreationTime)
            </td>
            <td>
                @Html.DisplayTextFor(model => item.EncryptedCreditCard)
            </td>
            <td>
                @Html.TextAreaFor(model => item.SignedCreditCard, new { @class = "form-control", cols = "25", rows = "10", @readonly = "readonly" })
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
